.add-row-properties {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 20px;
}

.column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
